$color-brand-primary: #4A8fe2;
$color-brand-accent: #3696ff;

$color-gray-dark: #a0a0a0;
$color-gray: #cbd0d8;
$color-gray-light: #e7e6e6;
$color-gray-lighter: #fafafa;

$color-gradient-blue-from: $color-brand-primary;
$color-gradient-blue-to: #4990e2;

$color-gradient-gray-light-from: $color-gray-lighter;
$color-gradient-gray-light-to: $color-gray-light;